// html fontSize
html{
  font-size:100px;
}
body{
   font-size:12px;
  color:$gray-dark;
}
@include screen(320px , 374px){
  html{
    font-size:60px;
  }
}
@include screen(375px , 413px){
  html{
    font-size:70px;
  }
}
@include screen(414px , 767px){
  html{
    font-size:80px;
  }
}
@include screen(768px , 1024px){
  html{
    font-size:90px;
  }
}

.g-head{
  //height:revertRem(60);
  background:$brand-primary;
  //clip-path:polygon(0 0 ,100% 0,100% 94% ,50% 100% ,0 94% ,0 0);

}

.dotnet-theme{
  position:relative;
  //@include display-flex();
  @include justify-content(center);
  padding:revertRem(30) 0 revertRem(50);
  //padding-bottom:revertRem(20);
  text-align:center;
  //background:$brand-primary;
  //background-image:linear-gradient(to bottom ,$brand-primary,$brand-primary);
  //background-size:100% 93.5%;
  //background-repeat:no-repeat;
  //clip-path:polygon(0 0 ,100% 0,100% 93% ,50% 100% ,0 93% ,0 0);
  @include screen(768px ,800px ){
    padding-top:0;
  }

  .inner{
    @extend %pageWidth;
    @include min-screen(768px){
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
    }
    @include min-screen(800px){
      @include justify-content(flex-start);
    }
  }
  &:before,&:after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
  }
  &:before{
    z-index: 10;
    height:revertRem(40);
    background:lighten($brand-primary,10%);
    //clip-path:polygon(0 0 ,50% 50%,100% 0,100% 100%, 0 100%);
    -moz-clip-path:polygon(0 0 ,50% 40%,100% 0,100% 60%, 50% 100% ,0 60%); //autoprefixer 未生成，手动添加
    clip-path:polygon(0 0 ,50% 40%,100% 0,100% 60%, 50% 100% ,0 60%);
  }
  &:after{
    z-index: 1;
    height:revertRem(20);
    background:$bodyBgColor;
  }
  .brand{
    //padding-top:revertRem(30);
    //padding-right:revertRem(15);
    //background: $brand-primary;

    @include min-screen(768px){
      padding-top:revertRem(30);
      padding-right:revertRem(30);
    }

    img{
      width:revertRem(86);
      height:revertRem(83);
    }
  }
  .slogan{
    padding-top:revertRem(15);
    //background: $brand-primary;
    color:#fff;
    @include min-screen(768px){
      padding:0;
      text-align:left;
    }
    @include min-screen(800px){
      padding-left:revertRem(15);
      @include flex(1);
    }

    img{
      width:revertRem(300);
      height:revertRem(90);
      vertical-align: bottom;
    }
    .text{
      display:block;
      font-size:revertRem(42);
    }
    p{
      display:none;
      padding-left:8px;
      font-size:revertRem(32);
      color: lighten($brand-primary,55%);
      @include min-screen(800px){
        display:block;
      }
    };

    strong{
      margin-left:revertRem(-6);
      padding:revertRem(6);
      font-weight:normal;
      background:rgba(0,0,0,.5);
    }
  }

  .faq{
    display:none;
    @include min-screen(800px){
      display:block;
      width:revertRem(300);
      line-height:30px;
      padding:revertRem(15) revertRem(20);
      @include border-radius(3px);
      color: lighten($brand-primary,55%);
      font-size:16px;
      text-align:left;
      background:lighten($brand-primary,8%);
    }
    li{
      &:before{
        content:"";
        display:inline-block;
        width:4px;
        height:4px;
        vertical-align:middle;
        margin-right:revertRem(20);
        @include border-radius(50%);
        background:currentColor;
      }
    }
    a{
      color:inherit;
      &:hover{
       color: lighten($brand-primary,65%);
      }
    }
  }

}

.g-footer{
  .our-message{
    padding:revertRem(45) revertRem(15);
    background:#fff;
  }
}

.our-message{
  .inner{
    @extend %pageWidth;
    @include min-screen(768px){
      @include display-flex();
      @include align-items(center);
    }

  }
  .media{
    @extend %flex-justify-middle;
    width:revertRem(138);
    height:revertRem(138);
    margin:0 auto;
    //margin:{
    //  left:revertRem(40);
    //  right:revertRem(50);
    //}
    color:#fff;
    font-size:0;
    filter:drop-shadow(0 0 20px rgba(#69008C,.4));
    //background:#69008C;
    background:url("#{$images-path}project/dotnet-brand.png") no-repeat;
    background-size:cover;
    @include min-screen(768px){
      flex-shrink:0;
      margin:{
        left:revertRem(15);
        right:0;
      }
    }
  }
  .content{
    padding-top:revertRem(20);
    @include min-screen(768px){
      padding-top:0;
      padding-left:revertRem(45);
    }
    h1{
      font-size:revertRem(32);
      color:$brand-primary;
      @include min-screen(800px){
        font-size:revertRem(36);
      }
    }
    p{
      font-size:revertRem(24);
      color:$gray;
      @extend %word-break;
    }
  }
}
