.nav-row{
  height:revertRem(60);
  //background:$brand-primary;
  background-image:linear-gradient(to top,rgba(255,255,255,.2) 1px,transparent 1px,transparent);
 .inner{
   @include display-flex();
   @extend %pageWidth;
 }

  .nav-switch{
    @extend %flex-justify-middle;
    width:revertRem(60);
    height:revertRem(60);
    @include min-screen(768px){
        display:none;
    }
  }

  .logo{
    display:block;
    @include flex(1);
    margin-top:revertRem(5);
    padding-left:revertRem(27.2);
    text-align:center;
    font-size:0;

    @include min-screen(768px){
      padding:0 revertRem(15);
      @include flex(0 0 auto);
    }
    @include min-screen(800px){
      position:relative;
      margin-right:revertRem(30);
      padding:0;
    }

    img{
      width:revertRem(155);
    }

    .chat-group{
      display:none;
      @include min-screen(800px){
        display:block;
        position:absolute;
        bottom:0;
        left:5px;
        right:5px;
        z-index:20;
        line-height:24px;
        margin-bottom:-12px;
        @include border-radius(10px);
        font-size:14px;
        background:#DAD1E7;
      }
    }
    @at-root {
      .chat-group{
        a{
          color:inherit;
        }
      }
    }
  }
  .nav-menu{
    position:absolute;
    top:0;
    left:0;
    z-index:1001;
    width:50%;
    height:100%;
    //font-size:revertRem(18);
    @include transform(translate3d(-100% ,0 ,0));
    @include transition-duration(.4s);
    font-size:18px;
    background:#fff;

    @include min-screen(768px){
      position:static;
      @include transform(none);
      @include flex(1);
      background:transparent;
      color:#fff;
    }

    @at-root{
      .open &{
          @include transform(translate3d(0,0,0));
      }
      .nav-menu{
        .logo{
          height:revertRem(60);
          margin-top:0;
          margin-bottom:revertRem(20);
          padding-top:revertRem(5);
          background:$brand-primary;
          @include box-sizing(border-box);
          @include min-screen(768px){
            display:none;
          }
        }

        .active{
          .item-content{
            &:after{
              //content:"";
              @extend %inline-block;
              width:6px;
              height:6px;
              margin-left:8px;
              @include border-radius(50%);
              background:$brand-primary;
            }
          }
        }
        @include min-screen(768px) {
          & .list-block {
            @include display-flex();
            line-height: revertRem(60);
            .item-link{
              padding-top:0;
              padding-bottom:0;
            }
            .item-media{
              display:none;
            }
          }

        }

        @include min-screen(800px){
          & .list-block {
            .item-link{
              display:block; // for  IE
              position:relative;
              margin-right:revertRem(15);
              &:hover{
                background:lighten($brand-primary,20%);
              }
              &.active{
                &:after{
                  content:"";
                  position:absolute;
                  left:0;
                  right:0;
                  bottom:7px;
                  width:6px;
                  height:6px;
                  margin:auto;
                  @include border-radius(50%);
                  background:lighten($brand-primary,20%);
                }
              }
            }
          }
        }

      }
    }

  }

  .github{
    @extend %flex-justify-middle;
    color:#fff;
    margin-right:revertRem(15);
    font-size:revertRem(18);
    &-icon{
      @include inline-block();
      width:revertRem(32);
      height:revertRem(32);
      fill:currentColor;
      margin-left:revertRem(20);
      color:#fff;
    }

    @include min-screen(800px){
      margin-right:0;
    }
  }
}

//overlay
.navMenu-overlay{
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.3);
  visibility: hidden;
  opacity:0;
  @include transition-duration(.4s);
  @at-root{
    .open &{
      visibility:visible;
      opacity:1;
    }
  }
}