.icon-sprite-finances {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -97px 0px;
  width: 30px;
  height: 30px;
}
.icon-sprite-logi {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -67px -30px;
  width: 30px;
  height: 30px;
}
.icon-sprite-mana {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}
.icon-sprite-mem {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}
.icon-sprite-pro {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -67px 0px;
  width: 30px;
  height: 30px;
}
.icon-sprite-pur {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -37px 0px;
  width: 30px;
  height: 30px;
}
.icon-sprite-sale {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: 0px -60px;
  width: 30px;
  height: 30px;
}
.icon-sprite-stat {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -30px -60px;
  width: 30px;
  height: 30px;
}
.icon-sprite-store {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -60px -60px;
  width: 30px;
  height: 30px;
}
.icon-sprite-sufsale {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 30px;
}
.icon-sprite-wait {
  display: block;
  background-image: url(../images/home_sprite.png);
  background-position: -97px -30px;
  width: 30px;
  height: 30px;
}
