@charset "UTF-8";
@import "../var",
        "../mixins",
        "../sassCore/function",

        "../component/placeholder";

.caption{
  position:relative;
  z-index:5;
  margin-top:revertRem(-15);
  padding:revertRem(25) 0 revertRem(15);
  text-align:center;
  background-color:darken($bodyBgColor,5%);
  h1{
    font-size:revertRem(27);
  }
  small{
    font-size:revertRem(16);
    color:$gray-light;
  }
}
.project-box{
  padding:revertRem(60) 0 revertRem(80);
  //@include pageWidth(){
  //
  //};
  @extend %pageWidth;
  .project-group{
    @include display-flex();
    @include flex-wrap(wrap);
  }
  @at-root{
   .project-group{
     $project-background-list :(
             project-asp-translate : "asp-translate",
             project-aspect-core   : "aspect-core",
             project-asp-cap       : "asp-cap",
             project-asp-util      : "asp-util",
             project-asp-surging   : "asp-surging",
             project-asp-zkweb     : "asp-zkweb",
             project-asp-natasha   : "asp-natasha",
             project-dotnetspider   : "dotnetspider",
             project-npoi          : "npoi"
     );
     @each $key ,$value in $project-background-list{
       .#{$key}{
         .project-summary{
           //@if $key == 'project-asp-cap'{
           //  color:#0C2C65;
           //}
           background-image:url("#{ $images-path + 'project/'+ $value + '.png'}");
           //backdrop-filter:blur(20px);
         }
         .project-avator{
           background-image:url("#{ $images-path + 'project/'+ $value + '-avator.png'}");
         }
       }
     }

      .project-item{
        //@include flex(1);
        width:100%;
        padding-bottom: revertRem(40);
        @include border-radius(50px);

        //@include box-sizing(border-content);
        @include min-screen(768px){
          width:50%;
        }
        @include min-screen(800px){
          width:percentage(1 / 3);
        }
        @at-root {
          .project-item {
            .project-summary{
              position: relative;
              padding-top:90%;
              //@extend %flex-justify-middle; firefox 配合 before  有兼容问题

              background-size:100% auto;
              background-repeat:no-repeat;

              .summary-text{
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                @extend %flex-justify-middle;
                margin: revertRem(20);
                font-size:revertRem(22);
                color:#fff;
                word-wrap:break-word;
                word-break:break-all;
              }
              .skip{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
              }

              //&:before{
              //  content:"";
              //  float:left;
              //  width:1px;
              //  margin-left:-1px;
              //  padding-top:90%;
              //}
              //&:after{
              //  content:"";
              //  display:inline-block;
              //  padding-top:90%;
              //  vertical-align: middle;
              //}
            }

            .project-meta{
              position:relative;
              padding:revertRem(15) revertRem(15) revertRem(25);
              white-space: nowrap;
            }
            .project-avator{
              position:absolute;
              bottom:revertRem(25);
              width:revertRem(81);
              height:revertRem(81);
              margin-left:-3px;
              @include border($color:#fff,$width:3px);
              @include border-radius(10px);
              background-size:100%;
            }
            .project-name{
              margin-left:revertRem(81 + 15);
              strong{
                display:block;
                font-size:revertRem(18);
                font-weight:normal;
                color:$color-title;
                @include min-screen(800px){
                  font-size:revertRem(22);
                }
              }
              em{
                font-size:12px;
                color:$gray-light;
              }
            }

          }
        }

      }
     .inner{
       margin :0 revertRem(15);
       @include border-radius(10px);
       overflow:hidden;
       background:#fff;
       @include box-shadow( 0 2px 10px rgba(0,0,0,.2));
       @include transition-duration(.3s);
       @include translate3D(0, 0 ,0);
       &:hover{
         @include box-shadow( 0 2px 22px rgba(0,0,0,.5));
         @include translate3D(0,-3px,0);
       }
     }
    }
  }

}