//容器水平垂直居中
%flex-justify-middle{
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}
%pageWidth {
  &{
    @include min-screen(800px) {
      max-width:1200px;
      margin:0 auto;
      padding-left:15px;
      padding-right:15px;
      @include box-sizing(border-box);
    }
  }
}
%word-break{
  word-wrap:break-word;
  word-break:break-all;;
}